# NEXT_PUBLIC_API_BASE=https://tolotanana-nest-backend.onrender.com

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LfmoeUrAAAAACdE-np61P0ZCuveOxG_RagonxqP

RECAPTCHA_SECRET_KEY=6LfmoeUrAAAAAMAD7Pm1-XR5rqfa2p42ImpveV9q

# Configuration JWT
JWT_SECRET="eb13edf43710296574abe74e6c694027e4cfd7d9c3f8da8e56e9d110c426ec12ec562fb3bc94acf4c518b8602d80f2d07e8c7e6f42700f993782e8117aafbd82"
